/**
 * note
 */
 $note-color:      #ffeb3b;

 aside[role="note"] {
     box-shadow: 0 0 5px 0 $grey-color;
     border-left: .5em solid $note-color;
     padding: .75em .75em .75em 1.5em;
     font-size: $small-font-size;
     margin-bottom: $spacing-unit / 2;

     h1 {
       display: inline;
       font-weight: bold;
     }

     p {
       display: inline;
     }
}

/**
 * Figures
 */
figure > img {
    margin: 0 auto;
}

figcaption {
    text-align: center;
    color: rgb(36, 75, 169);
    font-size: $small-font-size;
    margin-bottom: $spacing-unit;
}
